<section class="card">
  <a href="/api/characters">
    <header>SELECT A CHARACTER</header>
    <img src="/imgPlaceholders/characterPics.jpg">
  </a>
</section>
<section class="card">
  <a href="/battle">
    <header>CLICK TO BATTLE!</header>
    <img src="/imgPlaceholders/battleButton.jpg">
  </a>
</section>
{{!-- to create a character --}}
{{!-- <section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
    <img src="/imgPlaceholders/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a>
</section> --}}