{{!-- to create a character --}}
<section class="card">
  <a href="/api/characters">
    <header>CREATE A CHARACTER</header>
    <img class="imgCard" src="/imgPlaceholders/cac.jpg">
  </a>
</section>


<section class="card">
  <a href="/api/characters">
    <header>SELECT A CHARACTER</header>
    <img class="imgCard" src="/imgPlaceholders/characterPics2.jpg">
  </a>
</section>


<section class="card">
  <a href="/battle">
    <header>CLICK TO BATTLE!</header>
    <img class="imgCard" src="/imgPlaceholders/battleButton.jpg">
  </a>
</section>