<section class="battleSection">

<button id="characterSelectionStartButton">Click to select character</button>
  <form class="formClass">
    <label for="charClass1" class="labelCharacter">Choose your character's class:</label>
    <select id="charClass1" name="charClass1">
      
      
    </select>
      <button type="button" id="characterSelectButton">Click here once a character is selected</button>
    
  </form>
  <button id="playButton">click here attack</button>
  <p class="theDivClass1"></p>
  <p class="theDivClass2"></p>
  <p class="theDivClass3"></p>
  <p class="theDivClass4"></p>
  <p class="theDivClass5"></p>
  <p class="theDivClass6"></p>
  <p class="theDivClass7"></p>
  <p class="theDivClass8"></p>
  <p class="theDivClass9"></p>


</section>

















<script src="/js/battle.js"></script>