<section class="battleSection">

<button id="playButton">click here attack</button>
<p class="theDivClass1"></p>
<p class="theDivClass2"></p>
<p class="theDivClass3"></p>
<p class="theDivClass4"></p>
<p class="theDivClass5"></p>
<p class="theDivClass6"></p>

</section>

















<script src="/js/battle.js"></script>