:root {
  --primary: #A81610;
  --secondary: #3385ff;
  --tertiary: #00004d;
  --quatrinary: #d9d9d9;
  --light: #e6ffff;
  --dark: #00001a;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  background-image: url(../imgPlaceholders/2182.webp);
  background-size: cover;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
}

nav button:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

/* CARDS */
.card {
  margin: 25px;
  flex: 0 1 300px;
  color: var(--dark);
  max-height: 17vw;
  min-height: 15vw;
  background-color: #526b83;
  border: none;
}

.cardAll { 
  margin: 25px;
  flex: 0 0 300px;
  color: var(--dark);
  max-height: 70vh;
  background-color: #526b83;
  border: none;

}


.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--tertiary);
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* .card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
} */

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.imgCard {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 8px double var(--dark);
  border-top: none;
}

.charView {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.headerFont {
  font-size: 18px;
  text-transform: none;
}